body
{
    font-family: 'Roboto', sans-serif;
}

/* header */
.navbar-brand
{
    font-size: 1.8rem;
}

header
{
    background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999;
}

@media (max-width: 992px)
{
    .navbar-toggler
    {
        background-color: whitesmoke;
    }
}

.fa-angle-down
{
    text-align: center;
    font-size: 38px;
    color: #fff;
    cursor: pointer;
}
/* header ends */


/* sections */
.custom-title-p-fw
{
    font-weight: 300;
    font-size: 1.3rem;
}

/* service */
.service-card-h2
{
    font-family: 'Raleway', sans-serif;
}

.service-card-h2 span
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 75px;
}

.service-card-a
{
    color: #be9e21;
}

.service-card-a:hover
{
    color: #be9e21;
    text-decoration: underline;
}
/* service end */

/* sliding container */
.sliding-container
{  
    background-image: url(https://img5.goodfon.ru/wallpaper/nbig/7/59/mmmmmm-nnnnnn-bbbbbb-vvvvvvvvvvvvvv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 50%;
    background-size: 100% 100%;
    background-attachment: fixed;
}
/* sliding container end */

/* blog section */
.blog-read-more
{
    color: #949494;
}
/* blog section end */

/* contact section */
.contact-hr
{
    height: 0.3%;
    width: 3%;
}

.contact-container
{
    background-color: #4a556a;
}

.contact-icon
{
    font-size: 2em;
    color: #be9e21;
}
/* contact section ends */
/* sections end */